.field-case-sec
{
    margin: 20px 90px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-sec
{
    width: 90%;
}

.textarea-field
{
    height: 300px;
}

.case-info-report-sec
{
    display:flex;
    flex-direction: column;
    width: 80%;
    align-items:center;
}

.form-row label
{
    width: 30%;
}

.form-row input
{
    font-size: 20px;
}

.collapsible-header
{
    background-color:rgba(152, 158, 172, 0.212);
    height: 30px;
    padding: 10px;
    text-align: left;
    font-size: 22px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.comment-sec
{
    width: 81%;
    margin-left: 9%;
    margin-bottom: 20px;
}
.comment-sec label
{
    font-size: 20px;
}

.comment-sec input
{
    font-size: 20px;
    height: 100px;
}

.btn-sec
{
    margin-left: -20px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 10%;
}

.btn-sec button{
    min-width: 110px;
    background-color: rgba(41, 41, 139, 0.795); 
}

.btn-sec button:hover {
    background-color: rgb(96, 96, 179);
}