<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="backend/src/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url=".*" />
          <action type="Rewrite" url="backend/src/server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
