
.search-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box; 
  }
  

  .search-container {
    display: flex;
    align-items: center;
    width: 100%; 
    border: 1px solid #2b2a2a;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px;
    transition: border-color 0.3s, box-shadow 0.3s; 
  }
  
 
  .search-container:focus-within {
    border-color: #004d4d;
    box-shadow: 0 0 5px rgba(0, 77, 77, 0.5);
  }
  
 
  .search-input {
    width: 100%; 
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
  }
  

  .fa-magnifying-glass {
    font-size: 20px;
    color: #2b2a2a;
  }
  