.lrevidence-container {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .main-contentLRE
  {
    padding:20px;
  }
  
  .evidence-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .evidence-table th,
  .evidence-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .evidence-form-h4
  {
    font-size: 20px;
    color:#505050;
  }
  .evidence-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 130px;
  }
  .evidence-head
  {
    font-size: 20px;
  }
  
  .form-row-evidence {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
  }

    .form-row-evidence label
    {
  font-size: 20px;
    }

        .form-row-evidence input{
              border: 1px solid #ccc;
              background-color: white;
        }
        .form-row-evidence select
        {
          font-size: 20px;
        }
  
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
  }
  
  textarea {
    resize: vertical;
    height: 80px;
    font-size: 20px;
  }
  
  .form-buttons-evidence {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-btn {
    background-color: #8b0000;
    color: white;
  }
  
  .back-btn,
  .next-btn {
    background-color: #8b0000;
    color: white;
  }
  
  .save-btn {
    background-color: #8b0000;
    color: white;
  }
  
  .cancel-btn {
    background-color: #8b0000;
    color: white;
  }
  
  .pictures-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .picture-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 150px;
  }
  
  .uploaded-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .picture-card p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  