.lrperson2-container {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 20px;
  width: 90%; /* Increase container width */
  max-width: 1400px; /* Wider max-width for larger screens */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.person-table2 {
  width: 100%; /* Make the table take the full container width */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.person-table2 th,
.person-table2 td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.misc-info, .misc-table  {
  width: 100%; /* Full width for Miscellaneous Info */
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


button {
  padding: 8px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.back-btn {
  background-color: #a33; /* Gray for back */
}

.cancel-btn {
  background-color: #a33; /* Gray for cancel */
}

.next-btn {
  background-color: #a33; /* Green for next */
}

.save-btn {
  background-color: #a33; 
}

button:hover {
  opacity: 0.9;
}
