.main-content-ld-ExecSummary
{
  display: flex;
  align-items: flex-start;
  height: 100%; /* Ensures full-page height */
  /* overflow: hidden;  */
  margin-bottom: 50px;
}

.left-content-execSummary
{
  width: 60%;
  flex-grow: 1; 
  overflow-y: auto; 
  margin-bottom: 50px;
  align-items: center;
  height: calc(100vh - 10px);
  padding-bottom: 80px; 
  box-sizing: border-box;
}

.exec-summary-sec
{
  width: 30%;
  height: 880px;
  margin-top: -24px;
  display: flex;
  flex-direction:column;
}

.exec-summary-sec h3{
  text-align: left;
  padding-left: 5px;
}

.summary-input
{
  height: 70%;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}


.bottom-sec-ldExecSummary
{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 0 2%;
 margin-bottom: 5%;
}

.block1 .input-label
{
 width: 30%;
}