

.checkbox-container
{
  display: flex;
  align-items: center;
}
.checkbox-container input
{
  width: 10%;
  height: 20px;
}

.checkbox-container label
{
  width: 2000%;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}

.Add-user
{
  background-color:blue;
}

.registration-form
{
  margin-top: 5%;
}