
.filter-container {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    background-color: #f3f4f6;
    padding: 12px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    width: 90%; 
    margin: 10px; 
}


.item {
    min-width: 200px;
    min-height: 50px; 
    display:flex;
    align-items: center;;
}

.item select{
    min-width: 200px;
    min-height: 50px; 
    display:flex;
    align-items: center;;
}

.filter-dropdown {
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    width: 150px; 
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: left;
}


.filter-button {
    background-color: #a3082c; 
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    white-space: nowrap; 
}

.filter-button:hover {
    background-color: #870826;
}


.filter-container > * {
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .filter-container {
        flex-wrap: wrap; 
        justify-content: center;
    }

    .filter-dropdown {
        width: 130px; 
    }

    .filter-button {
        width: auto;
    }
}